    <form class="formCoords" (ngSubmit)="submitNewCoords([inputCoords.lng,inputCoords.lat])" autocomplete="off">
                <mat-form-field>
                    <input matInput placeholder="Lng (x)"
                        name="lng"
                        #lngModel = "ngModel"
                        [(ngModel)]="inputCoords.lng"
                        (paste)="onPastLng($event)"

                        required
                        pattern="\s*?-?[0-9]*\.?[0-9]*?\s*?">
                        <mat-hint class="errorMessage" align="end"> {{(!lngModel.valid && lngModel.touched) ? 'Format invalide' :'' }} </mat-hint>

                </mat-form-field>
      
                <i class="material-icons pointer" (click)="reverseLngLat(lngModel,latModel, [latModel.valid,lngModel.valid])">&#xE8D4;</i>

            <mat-form-field>
              <input  matInput placeholder="Lat (y)"
                    name="lat"
                    #latModel = "ngModel"
                    [(ngModel)]="inputCoords.lat"

                    required
                    pattern="\s*?-?[0-9]*\.?[0-9]*?\s*?">

            </mat-form-field>

                <button  mat-mini-fab [disabled]="!latModel.valid || !latModel.valid" style="margin-left: 5px;" mat-mini-fab type="submit">
                     <mat-icon class="mat-24">&#xE55F;</mat-icon>
                </button>
    </form>



<div class="tableData">
    <div class="headerTable">
        <table style="width:100%" class="coords_list">
            <tr class="headerTableTr">
                <th width="50px">
                </th>
                <th width="150px" style="max-width: 150px;">
                    <p mat-line (click)="orderBy('code')" class="pointer align-left"> Code
                        <i *ngIf="orderby == 'code'" class="material-icons">expand_less</i>
                        <i *ngIf="orderby == '-' + 'code'" class="material-icons">expand_more</i>
                        <i *ngIf="orderby != '-' + 'code' && orderby != 'code'" class="material-icons">remove</i>
                    </p>
                </th>
                <th width="200px" style="max-width: 200px;">
                    <p mat-line (click)="orderBy('name')" class="pointer align-left"> Nom
                        <i *ngIf="orderby == 'name'" class="material-icons">expand_less</i>
                        <i *ngIf="orderby == '-' + 'name'" class="material-icons">expand_more</i>
                        <i *ngIf="orderby != '-' + 'name' && orderby != 'name'" class="material-icons">remove</i>
                    </p>
                </th>
                <tr>
        </table>
    </div>



    <div id="list_coord">
        <table style="width:100%">
            <tr class="lighting" (click)="onClickProjection(p)" [id]="p.code" *ngFor="let p of data | myOrderBy: orderby; let i = index">

               <td width="50px" style="text-align:center" >
         <i *ngIf="selectedProjection.code == p.code" class="material-icons icon-selected">radio_button_checked</i>
         <i *ngIf="selectedProjection.code !== p.code" class="material-icons icon-unselected">radio_button_unchecked</i>
         <!--<mat-checkbox [checked]="(selectedProjection.code == p.code)" [disabled]="true" style="margin-left: 10px"></mat-checkbox>-->
    </td>

                <td width="150px" style="max-width: 150px;" [ngClass]="{'selected': selectedProjection.code == p.code }"  >
                    <div> {{p.code}} </div>
                </td>

                <td width="200px" style="max-width: 200px;" [ngClass]="{'selected': selectedProjection.code == p.code }" >
                    <div>{{p.name}}</div>
                </td>

            </tr>
        </table>
    </div>
</div>
<div id="selected_projection">
    <mat-card>
        <div *ngIf="selectedProjection['code']">
            <b>Code :</b> <a href="{{selectedProjection['url']}}" target="_blank">
              {{selectedProjection['code']}} </a> <b style="margin-left: 20px;">  Région :</b>            {{selectedProjection['region']}}
            <br> <b>Nom :</b> {{selectedProjection['name']}}
        </div>

        <div *ngIf="!selectedProjection['code'] && !selectedProjection['lng']">
            <b> Coordonées -> Points </b> <br>
            <i>Entrer un couple de coordonées puis selectionner un système de projection  </i>
        </div>

    </mat-card>
</div>
