$footerHeigth: 120px;

.formInput{
    height: 60px;
    padding-left: 10px;
}
.errorMessage{
    display: block;
    font-size: small;
    margin-top: 5px;
    font-weight: bold;
    color: #f44336;
    height: 20px;
    min-height: 20px;
}


.formCoords tr{
    border-bottom-style: hidden;
    border-bottom-width: 0;
}
.tableData {
    position: absolute;
    width: 100%;
    top:60px;
    bottom: $footerHeigth;
}

.headerTableTr {
    height: 50px;
}

#list_coord {
  position: absolute;
  top: 58px;
  bottom: 0;
  width: 100%;
  overflow: auto;
  z-index: 0;
}

table {
    border-collapse: collapse;
}
th, td {
    border-bottom: 1px solid #ddd;
}
.align-left{
    text-align: initial
}


i {
  vertical-align: text-top;
}

.footer {

  position: absolute;
  width: 100%;
  bottom: 0;
  height: 150px;

}
mat-card {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: whitesmoke;
    margin: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: $footerHeigth - 50px;

}

p {
  margin-bottom: 0;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

 tr{
    border-bottom: #ddd;
    border-bottom-style: solid;
    border-bottom-width: thin;
}

td{
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 50px;
}

.lighting
{
    cursor: pointer;
    background-color: white;
}

.lighting:hover
{
    background-color: #ddd;
}
