<header>
    <button mat-raised-button color="primary" 
      class="toolbarElems"
      [disabled]="this.router.url == '/point-to-coords'" 
      [routerLink]="['point-to-coords']"
      matTooltip="Points -> Coordonées " tooltip-position="below">
   
     <div style="display: flex;flex-direction: row; align-items: center;">
      <mat-icon>location_on</mat-icon>
      <mat-icon>keyboard_arrow_right</mat-icon>
      <span>x/y</span>
    </div>
    </button>

    <button mat-raised-button color="primary"
      class="toolbarElems"
      [disabled]="this.router.url == '/coords-to-points'" 
      [routerLink]="['coords-to-points']"
      matTooltip="Coordonées -> Points " tooltip-position="below">
      <div style="display: flex;flex-direction: row; align-items: center;">
        x/y
        <mat-icon>keyboard_arrow_right</mat-icon>
        <mat-icon>location_on</mat-icon>
      </div>

    </button>

    <button mat-raised-button color="primary"
      class="toolbarElems"
      [disabled]="this.router.url == '/shp-to-bbox'" 
      [routerLink]="['shp-to-bbox']"
      matTooltip=".shp -> map (bounding box)"
      tooltip-position="below">
      <div style="display: flex;flex-direction: row; align-items: center;">
        <span>.shp</span>
        <mat-icon>keyboard_arrow_right</mat-icon>
        <mat-icon>map</mat-icon>
      </div>
    </button>

    <button mat-raised-button color="primary"
      class="toolbarElems"
      [disabled]="this.router.url == '/bbox-to-coords'" 
      [routerLink]="['bbox-to-coords']"
      matTooltip="Bounding box -> coordonnées" tooltip-position="below">

      <div style="display: flex;flex-direction: row; align-items: center;">
        <span>Bbox</span>
        <mat-icon>keyboard_arrow_right</mat-icon>
        <span> x/y </span>
      </div>
    </button>




    <form autocomplete="off" style="display: flex;flex-direction: row;align-items: center;" (ngSubmit)="geocode(geocodeText)">
      <mat-form-field>
          <input matInput  name="Se localiser" placeholder="Rechercher un lieu" [(ngModel)]="geocodeText">
          <mat-icon matSuffix (click) = "geocodeText = ''" style = "vertical-align: bottom; cursor: pointer;" >clear</mat-icon>
        </mat-form-field>

      <button mat-mini-fab type="submit"
        [disabled]="!geocodeText || geocodeText == ''"
        class="toolbarElems">
                <mat-icon>location_on</mat-icon>
        </button>
    </form>

       <button mat-mini-fab color='primary' 
          (click)="getLocation()"
          class="toolbarElems">
                <mat-icon>my_location</mat-icon>
        </button>

        <span class="spacer"></span>

    <form id="filterForm" (ngSubmit)="this.projectionsService.setFilterText(filterText)"
        autocomplete="off" style="    display: flex;flex-direction: row; align-items: center;margin-right: 2em;">
        <mat-form-field>
            <input matInput  name="filter"  #filter [(ngModel)]="filterText" placeholder="Filtrer par nom ou SRID">
            <mat-icon matSuffix (click)="this.projectionsService.setFilterText(''); filterText=''; " style = "vertical-align: bottom; cursor: pointer;" >clear</mat-icon>
          </mat-form-field>

        <!-- <span class="pointer" mat-suffix (click)="this.projectionsService.setFilterText(''); filterText=''; ">
                    <i class="material-icons" style = "vertical-align: bottom; cursor: pointer;">clear</i>
                </span> -->

      <button mat-mini-fab type="submit" [disabled]="!filterText">
                <mat-icon class="mat-24">filter_list</mat-icon>
            </button>
    </form>



    <mat-slide-toggle 
    style="padding-right: 2em;"
    [checked]="projectionsService.filterBbox" 
    (change)='filterBoboxChange()'
    name="filterBboxToggle"
    matTooltip="Exclure les systèmes de coordonnées par zone de couverture"
    tooltip-position="below">
      Filter par Bbox
  </mat-slide-toggle>


</header>
<main>
  <div id="containerMap">
    <div leaflet id="map"
      [leafletOptions]="options"
      (leafletMapReady)="onMapReady($event)"
      [ngClass]="{'pointer': (this.router.url === '/point-to-coords' || this.router.url === '/bbox-to-coords')}">
    </div>
  </div>



</main>
<div id="rightDiv">
  <router-outlet></router-outlet>
</div>
